@using Sitecore.StringExtensions
@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.RelatedContent.Models.CallToActionRowWithBackgroundImageModel>
<div class="large-image-w-cta">
	<picture class="large-image-w-cta__image">
		<source media="(max-width: 767px)" srcset="@Model.RowBackgroundImage.GetCustomWidthImageSrc(767)">
		<source media="(max-width: 1279px)" srcset="@Model.RowBackgroundImage.GetCustomWidthImageSrc(1297)">
		<img src="@Model.RowBackgroundImage.GetCustomWidthImageSrc(1600)" alt="@Model.RowBackgroundImage.Alt" loading="lazy">
	</picture>
	<div class="large-image-w-cta__content container">
		<h2 class="large-image-w-cta__heading">@Model.Heading</h2>
		<div class="large-image-w-cta__copy rtf">
			@Model.Copy
		</div>
		
		@if (IsEditing)
		{
			@Model.Link.Rendered
		}
		else if (!Model.Link.Url.IsNullOrEmpty())
		{
			<a href="@Model.Link.Url" title="@Model.Link.Title" target="@Model.Link.Target" type="button" class="btn btn--primary">@Model.Link.Text</a>
		}
	</div>
</div>