@using Constellation.Feature.Navigation.Models
@inherits Constellation.Foundation.Labels.EditorCompatibleView<Constellation.Feature.Navigation.Models.NavigationMenu, Feature.Navigation.Models.HeaderLabels>

<nav class="header__primary-nav" aria-label="@Labels.PrimaryNavigation">
	<ul>
		@foreach (var node in Model.Children)
		{
			switch (node)
			{
				case NavigationLink link:
					<li class="header__item">
						<a href="@link.LinkUrl" target="@link.LinkTarget">@link.GetBestLinkText()</a>
					</li>
					break;
				case LinkGroup group:
					<li class="header__item">
						<button aria-haspopup="true" aria-expanded="false">
							@group.DisplayName
						</button>
						@if (group.Children.Count > 0)
						{
							<ul class="header__inner-nav" style="display: none">
								@foreach (var child in group.Children)
								{
									if (child is NavigationLink childLink)
									{
										if (child.IsActive)
										{
											<li class="header__item header__item--active">
												<a href="@childLink.LinkUrl" target="@childLink.LinkTarget">
													@childLink.GetBestLinkText()
												</a>
											</li>
										}
										else
										{
											<li class="header__item">
												<a href="@childLink.LinkUrl" target="@childLink.LinkTarget">
													@childLink.GetBestLinkText()
												</a>
											</li>
										}
									}
								}
							</ul>
						}

					</li>
					break;
			}
		}
	</ul>
</nav>
