@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.CallToActionCardModel>

<div class="card">
	
	<picture>
		<source media="(min-width: 576px)" srcset="@Model.ImageHeader.GetCustomHeightImageSrc(285)" />
		<source media="(min-width: 676px)" srcset="@Model.ImageHeader.GetCustomHeightImageSrc(387)" />
		<source media="(min-width: 992px)" srcset="@Model.ImageHeader.GetCustomHeightImageSrc(161)" />
		<source media="(min-width: 1200px)" srcset="@Model.ImageHeader.GetCustomHeightImageSrc(195)" />
		<img class="card-img-top" src="@Model.ImageHeader.GetCustomHeightImageSrc(195)" alt="@Model.ImageHeader.Alt" />
	</picture>
	<div class="card-body">
		<h5 class="card-title">@Model.Heading</h5>
		<div class="card-text">@Model.CardText</div>

		@if (IsEditing || !string.IsNullOrEmpty(Model.ButtonLink.Url))
		{
			<a href="@Model.ButtonLink.Url" target="@Model.ButtonLink.Target" class="btn btn-primary">@Model.ButtonLink.Text</a>
		}

	</div>
</div>